*{
  padding: 0;
  margin: 0;
  color: beige;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
  background: linear-gradient(to right, rgb(26, 26, 27), #566573);
}
nav{
  background: linear-gradient(to left, rgb(111, 111, 187), #9e1e1e);
  height: 80px;
        position: fixed;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #a4dd39;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 5px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgb(111, 111, 187), #9e1e1e);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  
  

  
 height:100vh;
 width: auto;
  background: url("https://raw.githubusercontent.com/google-sonalsen-actor/balveer-sonalsen-actor/main/IMG_20210322_014712_291.jpg") no-repeat;
  background-size: cover;
  
}

.heading{
  font-family: 'Schoolbell', cursive;
  font-size: large;
  font-weight: bolder;
  text-align: center;
color: beige;
}

